:root {
  --color-primary: #0c042d;
  --color-accent: #ffe658;
  --color-text: #1e0e00;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::backdrop {
  background-color: #0c042d;
  opacity: 0.75;
}

body {
  min-height: 340vh;
  font-size: 3vw;
  color: #fff;
  background: var(--color-primary) url("/assets/images/bg.jpg") center/100% 100%
    no-repeat;
  position: relative;
}

button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}

button:focus {
  outline: none;
  box-shadow: none;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

header img {
  width: 100%;
}

.date-btn {
  width: 50%;
  position: absolute;
  bottom: 0;
}

main {
  margin-top: 16px;
}

main,
.rewards-tab,
.leaderboard-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.rewards-tab .tab-header,
.leaderboard-tab > .tab-header {
  background: url("/assets/images/Talent user btn bg.png") center/100% 100%
    no-repeat;
  height: 45px;
  width: 70%;
  display: flex;
  margin-bottom: 20px;
}

.tab-content {
  display: none;
  padding-inline: 16px;
  width: 100%;
}

.tab-content.active {
  display: initial;
}

.tab-button {
  width: 52%;
  height: 110%;
  transform: scale(1.2);
  margin-top: -1px;
}

.tab-button.user.active {
  background: url("/assets/images/User btn.png") center/100% 100% no-repeat;
}

.tab-button.talent.active {
  background: url("/assets/images/Talent btn.png") center/100% 100% no-repeat;
}

.rounds-tab {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.rounds-tab .tab-header,
.round {
  padding-inline: 24px;
  background: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.rounds-tab .tab-button,
.round .tab-button {
  width: 30%;
  height: 40px;
}

.tab-button.round-1 {
  background: url("/assets/images/Round 1 unselect btn.png") center/100% 100%
    no-repeat;
}

.tab-button.round-2 {
  background: url("/assets/images/Round 2 unselect btn.png") center/100% 100%
    no-repeat;
}

.tab-button.round-1.active {
  background: url("/assets/images/Round 1 select btn.png") center/100% 100%
    no-repeat;
}

.tab-button.round-2.active {
  background: url("/assets/images/Round 2 select btn.png") center/100% 100%
    no-repeat;
}

.guide-btn {
  height: 40px;
  position: fixed;
  right: 0;
  top: 30%;
  z-index: 20;
}
.guide-btn img {
  height: 100%;
}

.modal {
  border: none;
  position: fixed;
  margin: 0 auto;
  margin-top: 10%;
  width: 100%;
  background-color: transparent;
}
.modal-container,
.reward-container,
.garba-container,
.leaderboard-container {
  width: 100%;
  margin-top: 10px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("/assets/images/Leaderboard and guide bg.png") center/100%
    100% no-repeat;
}
.leaderboard-container {
  margin-top: 40px;
  display: none;
  padding-inline: 8px;
  min-height: auto;
}
.leaderboard-container.active {
  display: flex;
}
.modal-container > img,
.reward-container > img,
.schedule-tab .tag,
.leaderboard-container .tag {
  width: 60%;
  transform: translateY(-14%);
}

.reward-container {
  display: none;
  min-height: auto;
  height: 240px;
  background: url("/assets/images/Rewards bg.png") center/100% 100% no-repeat;
  margin-bottom: 24px;
}
.reward-container.active {
  display: flex;
}
.reward-slides-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.reward-slides {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding-inline: 10px;
}
.reward-slide {
  --size: 90px;
  width: var(--size);
  height: calc(var(--size) + 10px);
  background: url("/assets/images/Rewards base.png") center/100% 100% no-repeat;
}
.slider-buttons {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
}
.slider-button {
  --size: 10px;
  background: url('/assets/images/unselect scroller.png') center/100% 100% no-repeat;
  height: var(--size);
  border-radius: var(--size);
  width: var(--size);
}
.slider-button.active {
  background: url('/assets/images/Select scroller.png') center/100% 100% no-repeat;
}
.reward-slides-container .info {
  font-style: normal;
  text-align: center;
  font-size: 4vw;
  color: var(--color-accent);
}

.schedule-tab {
  min-height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 20px;
}
.schedule-tab .tab-header,
.category-tab-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 45px;
  margin-bottom: 10px;
  background: url("/assets/images/Category btn bg.png") center/100% 100%
    no-repeat;
}
.category-tab-header {
  margin-top: 16px;
}
.schedule-tab button,
.category-tab-header button {
  width: 30%;
  height: 150%;
}

.tab-button.garba.active {
  background: url("/assets/images/Garba fusion btn.png") center/100% 100%
    no-repeat;
}
.tab-button.singing.active {
  background: url("/assets/images/Singing battle btn.png") center/100% 100%
    no-repeat;
}
.tab-button.fashion.active {
  background: url("/assets/images/fashion battle btn.png") center/100% 100%
    no-repeat;
}
.schedule-tab .tab-content {
  display: none;
  width: 100%;
}
.schedule-tab {
  margin-bottom: 10px;
}
.schedule-tab .garba-container {
  min-height: auto;
  padding-inline: 0;
  height: 400px;
  padding-bottom: 12px;
}
.schedule-tab .tab-content.active {
  display: flex;
}
.schedule-tab .table {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  padding-inline: 1px;
  overflow-y: auto;
}
.schedule-tab .table-header,
.schedule-tab .table-desc {
  color: var(--color-accent);
  display: flex;
  gap: 10px;
  align-items: center;
  padding-inline: 20px;
  padding-block: 4px;
  justify-content: space-between;
  background: url("/assets/images/Schedule table bg.png") center/100% 100%
    no-repeat;
  font-size: 3vw;
}
.schedule-tab .table-header {
  font-size: 4vw;
}
.table-header > div,
.table-desc > div {
  display: flex;
  gap: 20px;
}
.vs-image {
  max-height: 40px;
}

.garba-leaderboard-container {
  padding-bottom: 10px;
}
.topper-container {
  display: flex;
  width: 100%;
}
.topper-container .top {
  height: 140px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  color: #000;
  padding-inline: 16px;
  gap: 10px;
}
.topper-container .top-2 {
  background: url("/assets/images/Top 2 bg.png") center/100% 100% no-repeat;
  margin-top: 4%;
  order: 1;
}
.topper-container .top-1 {
  background: url("/assets/images/Top 1 bg.png") center/100% 100% no-repeat;
  order: 2;
}
.topper-container .top-3 {
  background: url("/assets/images/Top 3 bg.png") center/100% 100% no-repeat;
  margin-top: 8%;
  order: 3;
}
.avatar {
  --size: 30px;
  border-radius: 100px;
  background-color: black;
  border: 1px solid var(--color-accent);
  height: var(--size);
  width: var(--size);
}
.top .avatar {
  --size: 40px;
  align-self: center;
}
.info {
  display: flex;
  flex-direction: column;
  font-style: italic;
  color: var(--color-text);
  font-weight: 600;
}
.bean-img {
  max-height: 10px;
}
.winner-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
  align-items: center;
  overflow-y: scroll;
  margin-top: 10px;
}
.winner-strip {
  color: var(--color-accent);
  display: flex;
  width: 100%;
  min-height: 50px;
  align-items: center;
  padding-inline: 14px;
  padding-bottom: 10px;
  background: url('/assets/images/4th name onwards strip.png') center/100% 100% no-repeat;
  gap: 1em;
}
.winner-strip .info {
  flex: 1;
  color: var(--color-accent);
}

footer {
  position: absolute;
  bottom: 10px;
  text-align: center;
  color: var(--color-accent);
  width: 100%;
  font-weight: 600;
  min-height: 50px;
}